/* "*" es el selector universal, para seleccionar todos los elementos de la página*/
*{
  margin: 0;
  padding: 0; /*espacio entre el contenido del elemento y su borde*/
  user-select: none;  /*si el usuario puede seleccionar el texto*/
  box-sizing: border-box; /*Para calcular las dimensiones de los elementos*/
  font-family: 'Poppins', sans-serif;
}
body{
  background: white;
}

nav{
  background: #242424;
}
nav ul{
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
  z-index:100; /*Sobreponer un elemento por encima de otro*/
}
nav ul li{
  float: left;
  display: inline-block; /*Comportamiento es como un bloque; con los elementos que la rodean es una caja en línea.*/
  background:#242424;
  margin: 0 20px;
  line-height: 80px;
  text-align: center;	
}
nav ul li a{
  color: white;
  line-height: 50px;
  text-decoration: none;
  font-size: 15px;
  padding: 15px 20px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #1b9bff;
  transition: .5s;
}

@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background:  none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}

nav:after{
  content: '';
  clear: both;
  display: table;
}
nav .logo{
  float: left;
  color:white;
  font-size: 27px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
  display: inline-block;
}

nav ul li a:hover{
  color: cyan;
  border-radius: 5px;
  box-shadow:  0 0 5px #33ffff,
               0 0 10px #66ffff;
}
nav ul ul li a:hover{
  box-shadow: none;
}
nav ul ul{
  position: absolute;
  top: 90px;
  border-top: 3px solid cyan;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
}
nav ul ul ul{
  border-top: none;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li{
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul ul li a{
  line-height: 50px;
}
nav ul ul ul li{
  position: relative;
  top: -60px;
  left: 150px;
}
nav .show,.icon,input{
  display: none;
}

@media all and (max-width: 968px) {
  nav ul{
    margin-right: 0px;
    float: left;
  }
  nav .logo{
    padding-left: 30px;
    width: 100%;
  }
  .show + a, ul{
    display: none;
  }
  nav ul li,nav ul ul li{
    display: block;
    width: 100%;
  }
  nav ul li a:hover{
    box-shadow: none;
  }
  .show{
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover{
    color: cyan;
  }
 
  nav ul ul{
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul a{
    padding-left: 40px;
  }
  nav ul ul ul a{
    padding-left: 80px;
  }
  nav ul ul ul li{
    position: static;
  }
  [id^=btn]:checked + ul{
    display: block;
  }
  nav ul ul li{
    border-bottom: 0px;
  }
  span.cancel:before{
    content: '\f00d';
  }
}
.content{
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
/*--SLIDER RESPONSIVE--*/
#slider{
	overflow: hidden;
}
#slider figure{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 15s slider infinite;
}
#slider figure img{
	width: 20%;
	float: left;
}
@keyframes slider{
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}

	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}
/*COLUMNAS DE CONTENIDO LAPTOPS*/

/*CONTENIDO*/
/*gallery=todo el bloque en forma horizontal que nos servirá como galería*/
.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #FFFFFF;
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
}
/*Thumbnail = nos serviran para colocar la infor e imagen, como una galería en "miniatura"*/
.thumbnail {
	width: 23%;
	text-align: center;
	float: left;
	margin-top: 35px;
	background-color: #F8F8F8;
	padding-bottom: 20px;
	margin-left: 1%;
	margin-right: 1%;
	border-radius: 3px;
	padding-top: 20px;
	border-bottom: 4px solid #6DC7D0;
}
/*Para los nombres de los productos*/
.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-bottom: 5px;
	color: #52BAD5;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}
/*Para el contenido/informacion de los productos*/
.gallery .thumbnail p {
	margin: 0;
	color: #B3B3B3;
	text-align: left;
	padding-left: 20px;
}
/*cards es la clase de las imagenes*/
.cards {
	width: 100%;
	height: auto;
	max-width: 200px;
	max-height: 200px;
	opacity: 0.8;
}
.buscar{
	position: center;
	padding: 5px;
}
/*Filtro de productos*/
.FiltroProductos input{
	display: none;
	
}
.FiltroProductos{
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: 0;
}

.FiltroProductos label{
	cursor: pointer;
	margin: 0px 20px;
	line-height: 50px;

}
.FiltroProductos ul{
	margin: 0;
	list-style:none;
	padding:0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: right;
}
.FiltroProductos li{
	border-right:1px solid black;

}
.FiltroProductos li:hover{
	background:#ECECEC;
	border-radius: 5px;
	line-height: 50px;
}
.boxOrder select{
	width: 180px;
	height: 40px;
	font-size: 16px;
	border-radius: 5px;
	line-height: 150px;

}
.boxOrder{
	align-items: center;
	justify-content: right;
	text-align: right;
	margin-top: 0;
}
footer{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	padding: 50px;
	color:white;
	background: #242424;
}
.footer > *{
	flex: 1 100%;
}
.footer-left{
	margin-right: 1.25em;
	margin-bottom: 2em;
	text-align: center;
}
h2{
	font-weight: 600;
	font-size:17px;
}
.footer ul{
	list-style:none;
	padding-left: 0;
}
.footer li{
	line-height: 2em;
}
.footer a{
	text-decoration:none;
}
.footer-right{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
}
.footer-right > *{
	flex: 1 50%;
	margin-right: 1.25em;
}
.box a{
	color: #999;
}
.footer-bottom{
	text-align: center;
	color: #999;
	padding-top: 50px;
}
.footer-left p{
	padding-right: 20%;
	color: #999;
}
@media screen and (min-width: 600px){
	.footer-right > * {
		flex: 1;
	}
	.footer-left{
		flex: 1 0px;
	}
	.flooter-right{
		flex: 2 0px;
	}
}
@media(max-width: 600px){
	.footer {
		padding: 15px;
	}
	
}

/*FILTRO*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');




/* FILTRO */
.p-small {
    padding-bottom: 5px;
}
.p-medium {
    padding-bottom: 10px;
}
.p-y {
    padding: 10px 0;
}
.m-y {
    margin: 10px 0;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

img {
   cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {

    padding: 1rem;
}
header h1 {
    font-size: 1.5rem;
    line-height: 2;
    color: #242424;
}

form input {
    width: 20rem;
    padding: .7rem;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    border-bottom: 2px solid #1b9bff;
    margin-bottom: 1rem;
}

 .btn {
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    margin-right: 1rem;
    background-color: #242424;
    padding: 5px;
    border-radius: 3px;
}

.active {
    background-color: #1b9bff;
}

#store-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 2rem 0;
}

.store-product {
    border: 1px solid #eee;
    border-radius: 3px;
    max-width: 250px;
}

.product-details {
    text-align: center;
    padding-bottom: 1rem;
    background-color: #eee;
}

.product-details h2 {
    font-size: 1.2rem;
    font-weight: 500;
}

.product-details p {
    font-size: 1rem;
    padding-bottom: 1rem;
    color:#4A43DB;
    font-weight: 700;
}

.product-details p span {
    text-decoration: line-through;
    color: red;
    font-weight: normal;
}

.product-details a {
    font-size: 1rem;
    text-decoration: none;
    background-color:#242424;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: 3px;
}

.product-details a:hover {
    background-color: #1b9bff;
}

header input{
	display:flex;
}



/*-----------contenidos----------*/
#contenidos{
	background: #F2F2F2;
	padding: 0px 0px 20px 0px;
}

#contenidos-paginas{
	background: #FFF;
	padding: 0px 0px 20px 0px;
}
#contenidos #centro3{
	width: 800px;
	margin: auto; border: 0px solid; height: auto; overflow: hidden;
	text-align: center;

}
#contenidos #centro3 #izquierda{
	width: 390px;
	height: auto; overflow: hidden; border: 0px solid; float: left;
	text-align: center;
}





#contenidos #centro3 #izquierda h3{
	text-align: left; color: #0B615E;
	font-size: 22px;
}


#contenidos #centro3 #izquierda .descripcion{
	color: #6E6E6E; text-align: left;
}

#contenidos #centro3 #izquierda #imagenes{
	border: 0px solid; height: auto;overflow: hidden;
	width: 100%;
}
#contenidos #centro3 #izquierda #imagenes .img-services{
	width: 120px; height: 100px;
	border: 1px solid #ccc; padding: 2px; display: inline-block;
}


/*-------contenidos derecha-------*/

#contenidos #centro3 #derecha{
	width: 390px;
	height: auto; overflow: hidden; border: 0px solid; float: right;
	text-align: center;
}

#contenidos #centro3 #derecha h3{
	text-align: left; font-size: 22px;
	color: #0B615E;
}

#contenidos #centro3 #derecha article{
	width: 100%;
	height: auto; overflow: hidden;
	margin-top: -25px;
}

#contenidos #centro3 #derecha article h4{
	text-align: left; font-size: 15px;
}

#contenidos #centro3 #derecha article p{
	color: #6E6E6E; text-align: left;
	margin-top: -15px;
}

.leer-mas{
	padding: 4px 10px; 
	background: #086A87;
	color: #fff; text-decoration: none;
	border-radius: 5px; float: left;
	margin-top: -1px; border: 0;
}

.leer-mas:hover{
	background: #0B4C5F;
}

/*---------pie de pagina ----------------*/

#pie{
	border: 0px solid #000;
	width: 100%;
	height: 90px;
	background: #111111;
	margin-top: 0px;
}

#pie #centro-pie{
	width: 800px;
	height: auto; overflow: hidden;
	margin: auto;
}

#pie #centro-pie .contacto{
	color: #F2F2F2;
	text-decoration: none;
	font-family: 'calibri';
}

#pie #centro-pie .contacto:hover{
	text-decoration: underline;
}

/*--------pagina de nosotros-----------------*/

#centro3{
	width: 800px;
	margin: auto; border: 0px solid; height: auto; overflow: hidden;
	text-align: center;
}

.encabezados{
	font-family: 'Arial black';
	font-size: 30px;
}

.t1{
	color: #424242;
}

.t2{
		color: #0489B1;
}

.descripcion-pagina{
	color: #848484;
}

.texto-nosotros{
	text-align: left;
}

hr{
	border-top: 1px;
}

.img-nosotros{
	float: left;
	margin-right: 7px;
}

#filosofia{
	height: auto; overflow: hidden;
}

#mision, #vision, #valores{
	width: 245px;
	height: auto; overflow: hidden;
	border: 1px solid #ccc;
	display: inline-block;
	border-radius: 5px;
	padding: 5px;
}

#vision{
	margin-right: 7px;
	margin-left: 7px;
}


/*--------pagina de servivios-------*/
.servicios{
	font-family: 'Arial black';
	font-size: 20px;
}

.uno{
	color: #424242;
}

.dos{
	color: #0489B1
}

#disenio{
	width: 250px;
	height: 300px;
	border: 0px solid #ccc;
	float: left;
	margin-bottom: 15px;
}

.img-servicios{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 1px solid #ccc;
	padding: 2px;
}

.web{
	margin-left: 15px;
	margin-right: 15px;
}


/*--------pagina clientes-------------*/

#clientes{
	width: 230px;
	height: auto;
	overflow: hidden;
	border-radius: 10px;
	border: 1px solid #ccc;
	padding: 5px;
	display: inline-block;
}

.cliente2{
	margin:0px 10px 0px 10px;
}

.img-clientes{
	width: 200px;
	height: 200px;
	
	border: 0px solid #ccc;
	padding: 2px;
}

.descripcion-clientes{
	color: #6E6E6E;
	text-decoration: none;
	font-family: 'calibri';
}


/*-------pagina de contacto------*/

#izquierda{
	width: 300px;
	height: auto; overflow: hidden;
	border: 0px solid;
	float: left;
}

.texto-contacto{
	text-align: left;
}

.email-contacto{
	color: #848484;
	text-decoration: none;
}

.email-contacto:hover{
	text-decoration: underline;
}

#derecha{
	width: 490px;
	border: 0px solid;
	height: auto; overflow: hidden;
	float: right;
}

input[type="text"], input[type="email"]{
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 5px;
	margin: 5px;
}




textarea{
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 5px;
	margin: 5px;
}

.nombre-mensaje{
	width: 95%;
}

.email-asunto{
	width: 45%;
}


input[type="submit"]{
	padding: 10px;
	background: #0489B1;
	color: #fff;
	border: 1px solid #086A87;
	border-radius: 5px;
}

#mapa{
	width: 75%;
	height: auto; overflow: hidden;
	padding: 20px;
}